#front-page {

  .members {

    .individual {

      width: 100px;
      height: 100px;
      border: 2px solid blue;
      border-radius: 100%;
      margin: 1%;
      display: inline-block;

    }/*individual*/

  }/*members*/

}/*front-page*/